/* line 6, ../sass/sass.scss */
.box {
  width: 100%;
}
/* line 8, ../sass/sass.scss */
.box .inBox {
  width: 1210px;
  height: 83px;
  margin: 0 auto;
}
/* line 12, ../sass/sass.scss */
.box .inBox .logo {
  width: 16.5%;
  height: 83px;
  line-height: 83px;
  float: left;
}
/* line 17, ../sass/sass.scss */
.box .inBox .logo img {
  width: 100%;
}
/* line 21, ../sass/sass.scss */
.box .inBox .nav {
  width: 83%;
  height: 83px;
  float: left;
}
/* line 25, ../sass/sass.scss */
.box .inBox .nav .nav_li {
  width: 12.5%;
  height: 81px;
  float: left;
  text-align: center;
  line-height: 83px;
  font-size: 16px;
  color: #5c5c5c;
  border-bottom: 2px solid white;
  position: relative;
}
/* line 35, ../sass/sass.scss */
.box .inBox .nav .nav_li:hover {
  cursor: pointer;
  color: #ff4646;
  border-bottom: 2px solid #ff4646;
}
/* line 42, ../sass/sass.scss */
.box .inBox .nav .nav_li1:hover {
  color: #ff4646;
  border-bottom: 2px solid #fff;
}
/* line 48, ../sass/sass.scss */
.box .inBox .nav_sec {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  top: 83px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  z-index: 1000;
}
/* line 58, ../sass/sass.scss */
.box .inBox .nav_sec .nav_div1 {
  width: 1200px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
}
/* line 65, ../sass/sass.scss */
.box .inBox .nav_sec .nav_div1 .nav_div2 a {
  display: block;
  background: url("../../../img/dn.png") no-repeat left center;
  font-size: 14px;
  padding-left: 26px;
  float: left;
  color: #fff;
  margin-left: 20px;
}
/* line 73, ../sass/sass.scss */
.box .inBox .nav_sec .nav_div1 .nav_div2 a:hover {
  color: #ff4646;
  background: url("../../../img/dno4.png") no-repeat left center;
}
/* line 82, ../sass/sass.scss */
.box .slide {
  width: 100%;
  height: 504px;
  min-width: 1210px;
  background: url("../../../img/nav-2.png") no-repeat center top;
  padding-top: 60px;
  position: relative;
}
/* line 89, ../sass/sass.scss */
.box .slide .slide_ul {
  width: 1210px;
  height: 504px;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
}
/* line 95, ../sass/sass.scss */
.box .slide .slide_ul .slide_li {
  width: 1210px;
  height: 504px;
  float: left;
  display: block;
  position: relative;
  margin-right: -100%;
  z-index: 0;
}
/* line 103, ../sass/sass.scss */
.box .slide .slide_ul .slide_li div {
  float: left;
  height: 504px;
}
/* line 107, ../sass/sass.scss */
.box .slide .slide_ul .slide_li .slide_div1 {
  width: 374px;
  height: 504px;
  position: absolute;
}
/* line 111, ../sass/sass.scss */
.box .slide .slide_ul .slide_li .slide_div1 img {
  width: 100%;
}
/* line 115, ../sass/sass.scss */
.box .slide .slide_ul .slide_li .slide_div2 {
  width: 492px;
  height: 128px;
  position: absolute;
  overflow: hidden;
}
/* line 120, ../sass/sass.scss */
.box .slide .slide_ul .slide_li .slide_div2 img {
  width: 100%;
}
/* line 124, ../sass/sass.scss */
.box .slide .slide_ul .slide_li .slide_div3 {
  width: 362px;
  height: 504px;
  position: absolute;
}
/* line 128, ../sass/sass.scss */
.box .slide .slide_ul .slide_li .slide_div3 img {
  width: 100%;
}
/* line 132, ../sass/sass.scss */
.box .slide .slide_ul .slide_li .slide_div4 {
  width: 352px;
  height: 128px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 138, ../sass/sass.scss */
.box .slide .slide_ul .slide_li .slide_div4 img {
  width: 100%;
}
/* line 143, ../sass/sass.scss */
.box .slide .slide_ul .slide_li1 {
  background: url("../../../img/slide-1.png") no-repeat left top;
  background-size: cover;
}
/* line 147, ../sass/sass.scss */
.box .slide .slide_ul .slide_li2 {
  background: url("../../../img/slide-2.png") no-repeat left top;
  background-size: cover;
}
/* line 151, ../sass/sass.scss */
.box .slide .slide_ul .slide_li3 {
  background: url("../../../img/slide-3.png") no-repeat left top;
  background-size: cover;
}
/* line 155, ../sass/sass.scss */
.box .slide .slide_ul .slide_li4 {
  background: url("../../../img/slide-4.png") no-repeat left top;
  background-size: cover;
}
/* line 160, ../sass/sass.scss */
.box .slide .slide_turn {
  width: 100%;
  height: 55px;
  position: absolute;
  top: 225px;
  z-index: 100;
}
/* line 166, ../sass/sass.scss */
.box .slide .slide_turn li {
  position: absolute;
}
/* line 168, ../sass/sass.scss */
.box .slide .slide_turn li a {
  width: 55px;
  height: 55px;
}
/* line 171, ../sass/sass.scss */
.box .slide .slide_turn li a img {
  width: 100%;
}
/* line 173, ../sass/sass.scss */
.box .slide .slide_turn li a img:hover {
  cursor: pointer;
}
/* line 179, ../sass/sass.scss */
.box .slide .slide_turn .slide_left {
  left: calc((100vw - 1380px)/2);
}
/* line 182, ../sass/sass.scss */
.box .slide .slide_turn .slide_right {
  right: calc((100vw - 1380px)/2);
}
/* line 187, ../sass/sass.scss */
.box .content1 {
  width: 1210px;
  margin: 0 auto;
}
/* line 190, ../sass/sass.scss */
.box .content1 .con1_div {
  width: 1210px;
  height: 55px;
  background: url(../../../img/btbg.png) no-repeat left top;
  background-size: cover;
  text-align: center;
  line-height: 80px;
}
/* line 197, ../sass/sass.scss */
.box .content1 .con1_div span {
  font-size: 30px;
  font-weight: bold;
  color: #0786c5;
}
/* line 203, ../sass/sass.scss */
.box .content1 .con1_div1 {
  width: 1210px;
  height: 33px;
  line-height: 33px;
  text-align: center;
}
/* line 208, ../sass/sass.scss */
.box .content1 .con1_div1 span {
  font-size: 18px;
  color: #0786c5;
}
/* line 213, ../sass/sass.scss */
.box .content1 .con1_ul {
  width: 590px;
  float: left;
}
/* line 216, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li1 {
  width: 590px;
  height: 112px;
}
/* line 219, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li1 div {
  float: left;
}
/* line 222, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li1 .li1_div {
  width: 153px;
  height: 112px;
  background: url(../../../img/con1-1.png) no-repeat left top;
  background-size: cover;
}
/* line 228, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li1 .li1_div1 {
  margin-left: 17px;
  width: 418px;
  height: 112px;
}
/* line 232, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li1 .li1_div1:hover .li1_p1 {
  color: #0786c5;
}
/* line 235, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li1 .li1_div1 .li1_p1 {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #585858;
}
/* line 241, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li1 .li1_div1 .li1_p2 {
  font-size: 12px;
  color: #969696;
}
/* line 245, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li1 .li1_div1 .li1_p3 {
  width: 100px;
  height: 24px;
  border-radius: 10px;
  background: #a0a0a0;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin-top: 14px;
}
/* line 258, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li2 {
  margin-top: 40px;
}
/* line 261, ../sass/sass.scss */
.box .content1 .con1_ul .con1_li3 {
  margin-top: 24px;
}
/* line 265, ../sass/sass.scss */
.box .content1 .con1_ul1 {
  width: 514px;
  height: 384px;
  float: left;
  margin-top: 40px;
  margin-left: 96px;
}
/* line 271, ../sass/sass.scss */
.box .content1 .con1_ul1 .ul1_span1 {
  width: 390px;
  display: inline-block;
  font-size: 14px;
  color: #515151;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 279, ../sass/sass.scss */
.box .content1 .con1_ul1 .ul1_span1:hover {
  color: #0786c5;
}
/* line 283, ../sass/sass.scss */
.box .content1 .con1_ul1 .ul1_span2 {
  display: inline-block;
  float: right;
  color: #969696;
  font-size: 12px;
}
/* line 291, ../sass/sass.scss */
.box .con2_box {
  width: 100%;
  background: #efefef;
  margin-top: 58px;
}
/* line 295, ../sass/sass.scss */
.box .con2_box .content2 {
  width: 1210px;
  margin: 0 auto;
  padding-top: 27px;
}
/* line 299, ../sass/sass.scss */
.box .con2_box .content2 .con1_div {
  width: 1210px;
  height: 55px;
  background: url(../../../img/btbg.png) no-repeat left top;
  background-size: cover;
  text-align: center;
  line-height: 80px;
}
/* line 306, ../sass/sass.scss */
.box .con2_box .content2 .con1_div span {
  font-size: 30px;
  font-weight: bold;
  color: #23B800;
}
/* line 312, ../sass/sass.scss */
.box .con2_box .content2 .con1_div1 {
  width: 1210px;
  height: 33px;
  line-height: 33px;
  text-align: center;
}
/* line 317, ../sass/sass.scss */
.box .con2_box .content2 .con1_div1 span {
  font-size: 18px;
  color: #23B800;
}
/* line 322, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul {
  width: 1210px;
  height: 398px;
  margin-top: 40px;
}
/* line 326, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li1 {
  background: url(../../../img/con2-1.png) no-repeat left top;
}
/* line 329, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li2 {
  background: url(../../../img/con2-2.png) no-repeat left top;
}
/* line 332, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li3 {
  background: url(../../../img/con2-3.png) no-repeat left top;
}
/* line 335, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li4 {
  background: url(../../../img/con2-4.png) no-repeat left top;
}
/* line 338, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li {
  width: 264px;
  height: 508px;
  margin-left: 51px;
  float: left;
}
/* line 343, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li .li_div {
  width: 264px;
  height: 398px;
  position: relative;
  overflow: hidden;
}
/* line 348, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li .li_div .li1_div1 {
  width: 264px;
  height: 44px;
  background: #23b800;
  border-radius: 0 0 5px 5px;
  background-size: cover;
  position: absolute;
  bottom: 0;
  line-height: 44px;
  opacity: 0;
}
/* line 358, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li .li_div .li1_div1 .li1_span1 {
  margin-left: 19px;
  font-size: 14px;
  color: #fff;
}
/* line 363, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li .li_div .li1_div1 .li1_span2 {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  margin-top: 8.5px;
  background: #fff;
  display: inline-block;
  text-align: center;
  float: right;
  margin-right: 17px;
  line-height: 27px;
}
/* line 374, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li .li_div .li1_div1 .li1_span2 img {
  width: 70%;
}
/* line 380, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li:hover .li1_div1 {
  animation: Opacity 1s 1 forwards;
}
@keyframes Opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 391, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li .li2_div {
  margin-top: 24px;
  text-align: center;
  color: #424242;
}
/* line 397, ../sass/sass.scss */
.box .con2_box .content2 .con2_ul .con2_li5 {
  margin-left: 0;
}
/* line 403, ../sass/sass.scss */
.box .content3 {
  width: 1210px;
  margin: 0 auto;
  padding-top: 27px;
  position: relative;
}
/* line 408, ../sass/sass.scss */
.box .content3 .con1_div {
  width: 1210px;
  height: 55px;
  background: url(../../../img/btbg.png) no-repeat left top;
  background-size: cover;
  text-align: center;
  line-height: 80px;
}
/* line 415, ../sass/sass.scss */
.box .content3 .con1_div span {
  font-size: 30px;
  font-weight: bold;
  color: red;
}
/* line 421, ../sass/sass.scss */
.box .content3 .con1_div1 {
  width: 1210px;
  height: 33px;
  line-height: 33px;
  text-align: center;
}
/* line 426, ../sass/sass.scss */
.box .content3 .con1_div1 span {
  font-size: 18px;
  color: red;
}
/* line 431, ../sass/sass.scss */
.box .content3 .con3_div {
  width: 1210px;
  border: 1px solid #cfcfcf;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  float: left;
}
/* line 439, ../sass/sass.scss */
.box .content3 .con3_div .slide_Box {
  width: 200px;
  height: 560px;
  overflow: hidden;
  float: left;
}
/* line 444, ../sass/sass.scss */
.box .content3 .con3_div .slide_Box .slide_in {
  width: 200px;
  height: 840px;
  background: red;
}
/* line 448, ../sass/sass.scss */
.box .content3 .con3_div .slide_Box .slide_in li {
  width: 200px;
  height: 140px;
  text-align: center;
  position: relative;
}
/* line 453, ../sass/sass.scss */
.box .content3 .con3_div .slide_Box .slide_in li .in_span1 {
  width: 180px;
  height: 110px;
  border-radius: 8px;
  margin-top: 15px;
  display: inline-block;
  overflow: hidden;
}
/* line 460, ../sass/sass.scss */
.box .content3 .con3_div .slide_Box .slide_in li .in_span1 img {
  width: 100%;
}
/* line 464, ../sass/sass.scss */
.box .content3 .con3_div .slide_Box .slide_in li .in_span2 {
  width: 180px;
  height: 27px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  line-height: 27px;
  position: absolute;
  bottom: 15px;
  left: 10px;
  border-radius: 0 0 8px 8px;
}
/* line 479, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 {
  width: 980px;
  height: 500px;
  float: right;
}
/* line 484, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 .con3_ul li {
  margin-top: 39px;
  float: left;
}
/* line 487, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 .con3_ul li .ul_div1 {
  width: 476px;
  height: 218px;
  border: 5px solid #dedede;
  overflow: hidden;
  float: left;
}
/* line 493, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 .con3_ul li .ul_div1 img {
  width: 100%;
}
/* line 497, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 .con3_ul li .ul_div2 {
  width: 454px;
  height: 218px;
  margin-left: 25px;
  float: left;
  margin-top: 14px;
}
/* line 503, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 .con3_ul li .ul_div2 span {
  display: block;
}
/* line 506, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 .con3_ul li .ul_div2 .div2_span1 {
  font-size: 16px;
  color: #585858;
}
/* line 510, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 .con3_ul li .ul_div2 .div2_span2 {
  margin-top: 17px;
  font-size: 12px;
  color: #818181;
  line-height: 12px;
}
/* line 516, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 .con3_ul li .ul_div2 .div2_span3 {
  color: #959595;
  line-height: 18px;
}
/* line 520, ../sass/sass.scss */
.box .content3 .con3_div .con3_div1 .con3_ul li .ul_div2 .div2_span4 {
  width: 102px;
  height: 31px;
  border: 1px solid #959595;
  border-radius: 8px;
  margin-top: 29px;
  text-align: center;
  line-height: 31px;
  font-size: 12px;
  color: #959595;
}
/* line 536, ../sass/sass.scss */
.box .content3 .slide_turn1 {
  position: absolute;
  width: 200px;
  height: 622px;
  bottom: -20px;
}
/* line 541, ../sass/sass.scss */
.box .content3 .slide_turn1 span {
  width: 33px;
  height: 17px;
  display: inline-block;
  position: absolute;
  left: 83.5px;
}
/* line 547, ../sass/sass.scss */
.box .content3 .slide_turn1 span:hover {
  cursor: pointer;
}
/* line 550, ../sass/sass.scss */
.box .content3 .slide_turn1 span img {
  width: 100%;
}
/* line 554, ../sass/sass.scss */
.box .content3 .slide_turn1 .slide_top {
  top: 0;
}
/* line 557, ../sass/sass.scss */
.box .content3 .slide_turn1 .slide_bottom {
  bottom: 0;
}
/* line 562, ../sass/sass.scss */
.box .con4_box {
  width: 100%;
  background: #efefef;
  margin-top: 58px;
  padding-bottom: 78px;
}
/* line 567, ../sass/sass.scss */
.box .con4_box .content4 {
  width: 1210px;
  margin: 0 auto;
  padding-top: 27px;
}
/* line 571, ../sass/sass.scss */
.box .con4_box .content4 .con1_div {
  width: 1210px;
  height: 55px;
  background: url(../../../img/btbg.png) no-repeat left top;
  background-size: cover;
  text-align: center;
  line-height: 80px;
}
/* line 578, ../sass/sass.scss */
.box .con4_box .content4 .con1_div span {
  font-size: 30px;
  font-weight: bold;
  color: #a46800;
}
/* line 584, ../sass/sass.scss */
.box .con4_box .content4 .con1_div1 {
  width: 1210px;
  height: 33px;
  line-height: 33px;
  text-align: center;
}
/* line 589, ../sass/sass.scss */
.box .con4_box .content4 .con1_div1 span {
  font-size: 18px;
  color: #a46800;
}
/* line 594, ../sass/sass.scss */
.box .con4_box .content4 .con4_ul {
  float: left;
}
/* line 596, ../sass/sass.scss */
.box .con4_box .content4 .con4_ul li {
  width: 172px;
  height: 97px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  float: left;
}
/* line 602, ../sass/sass.scss */
.box .con4_box .content4 .con4_ul li img {
  width: 100%;
}
/* line 606, ../sass/sass.scss */
.box .con4_box .content4 .con4_ul .con4_li {
  margin-left: 33px;
}
/* line 610, ../sass/sass.scss */
.box .con4_box .content4 .con4_ul1 {
  margin-top: 32px;
}
/* line 615, ../sass/sass.scss */
.box .content5 {
  width: 1210px;
  margin: 0 auto;
  padding-top: 92px;
}
/* line 619, ../sass/sass.scss */
.box .content5 .con5_div0 {
  float: left;
  display: inline-block;
}
/* line 623, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul li {
  width: 106px;
  height: 130px;
  text-align: center;
  float: left;
}
/* line 628, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul li .con5_span1 {
  width: 106px;
  height: 105px;
  display: inline-block;
  border: 1px solid #e3e3e3;
  line-height: 105px;
}
/* line 634, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul li .con5_span1 .con5_span2 {
  width: 92px;
  height: 91px;
  display: inline-block;
}
/* line 638, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul li .con5_span1 .con5_span2 img {
  width: 100%;
}
/* line 643, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul li .con5_span3 {
  font-size: 14px;
  display: inline-block;
  color: #5a5a5a;
  margin-top: 12px;
}
/* line 650, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul .con5_li1 {
  margin-left: 6px;
}
/* line 654, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul1 {
  display: inline-block;
  padding-top: 48px;
}
/* line 657, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul1 li {
  width: 42px;
  height: 42px;
  float: left;
}
/* line 661, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul1 li:hover {
  cursor: pointer;
}
/* line 664, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul1 li img {
  width: 100%;
}
/* line 668, ../sass/sass.scss */
.box .content5 .con5_div0 .con5_ul1 .ul1_li1 {
  margin-left: 10px;
}
/* line 673, ../sass/sass.scss */
.box .content5 .con5_div {
  float: left;
  margin-left: 28px;
  width: 238px;
}
/* line 677, ../sass/sass.scss */
.box .content5 .con5_div .con5_div4 {
  float: left;
  margin-top: -40px;
}
/* line 681, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 {
  margin-left: 30px;
  width: 268px;
}
/* line 684, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 .con5_div2 {
  width: 196px;
  height: 36px;
  float: left;
}
/* line 688, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 .con5_div2 img {
  width: 100%;
}
/* line 692, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 .con5_div3 {
  color: #ff4646;
  float: right;
}
/* line 696, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 .con5_div5 {
  float: left;
  margin-top: 38px;
}
/* line 699, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 .con5_div5 .con5_span4 {
  font-size: 14px;
  color: #5a5a5a;
  letter-spacing: 5px;
}
/* line 703, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 .con5_div5 .con5_span4 input {
  width: 193px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}
/* line 711, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 .con5_div6 {
  margin-top: 8px;
}
/* line 714, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 .con5_div7 {
  width: 100px;
  height: 32px;
  display: inline-block;
  background: #ff4646;
  border-radius: 5px;
  text-align: center;
  line-height: 32px;
  float: left;
  margin-top: 24px;
  margin-left: 45px;
}
/* line 725, ../sass/sass.scss */
.box .content5 .con5_div .con5_div1 .con5_div7 a {
  color: #fff;
}
/* line 732, ../sass/sass.scss */
.box .con6_box {
  width: 100%;
  background: #efefef;
  padding-bottom: 38px;
  margin-top: 20px;
  padding-top: 33px;
}
/* line 738, ../sass/sass.scss */
.box .con6_box .content6 {
  width: 1210px;
  margin: 0 auto;
}
/* line 741, ../sass/sass.scss */
.box .con6_box .content6 .con6_li1 {
  width: 166px;
  margin-left: 35px;
  float: left;
}
/* line 745, ../sass/sass.scss */
.box .con6_box .content6 .con6_li1 .li1_div {
  float: left;
}
/* line 748, ../sass/sass.scss */
.box .con6_box .content6 .con6_li1 .con6_ul {
  float: left;
  margin-left: 25px;
}
/* line 751, ../sass/sass.scss */
.box .con6_box .content6 .con6_li1 .con6_ul .ul_li1 {
  margin-top: 10px;
  padding-bottom: 5px;
}
/* line 752, ../sass/sass.scss */
.box .con6_box .content6 .con6_li1 .con6_ul .ul_li1 a {
  color: #424242;
}
/* line 753, ../sass/sass.scss */
.box .con6_box .content6 .con6_li1 .con6_ul .ul_li1 a:hover {
  color: #ff4646;
}
/* line 760, ../sass/sass.scss */
.box .con6_box .content6 .con6_li1 .con6_ul .ul_li2 {
  font-size: 14px;
}
/* line 762, ../sass/sass.scss */
.box .con6_box .content6 .con6_li1 .con6_ul .ul_li2 a {
  color: #6d6d6d;
}
/* line 764, ../sass/sass.scss */
.box .con6_box .content6 .con6_li1 .con6_ul .ul_li2 a:hover {
  color: #ff4646;
}
/* line 771, ../sass/sass.scss */
.box .con6_box .content6 .con6_li2 {
  margin-left: 0;
}
/* line 776, ../sass/sass.scss */
.box .content7 {
  width: 1210px;
  margin: 0 auto;
  padding: 20px 0;
}
/* line 780, ../sass/sass.scss */
.box .content7 .con7_div {
  text-align: center;
}
/* line 783, ../sass/sass.scss */
.box .content7 .con7_div span {
  color: #6d6d6d;
  font-size: 12px;
  display: block;
}
/* line 788, ../sass/sass.scss */
.box .content7 .con7_div a {
  color: #6d6d6d;
}
/* line 790, ../sass/sass.scss */
.box .content7 .con7_div a:hover {
  color: #ff4646;
}
